
 <article>
  <header>
    <h1>From the Garden</h1>
    <p>Health and wellness products</p>
    <p>Local Fresh Nutrional Items</p>
    <p>Connecting you to local farmers and gardeners<p>
  </header>
  <p>Fruit and Vegtables from Local farmers markets brought to you by your neighboors</p>
</article>
<nav class="navbar">
<div class="nav">
    <img src="img/dark-logo.png" class="brand-logo" alt="">
    <div class="nav-items">
        <div class="search">
            <input type="text" class="search-box" placeholder="search brand, product">
            <button class="search-btn">search</button>
        </div>
        <a href="#"><img src="img/user.png" alt=""></a>
        <a href="#"><img src="img/cart.png" alt=""></a>
    </div>
</div>

</nav>

 <div class="row">
  <div class="column">
    <img src="Da Forest/data/banana-hack-kb-main-201027.jpg">
      <img src="Da Forest/data/grapes.jpg">
  </div>
  <div class="column">

  </div>
  <div class="column">
  </div>
  <div class="column">

  </div>
</div>
